@font-face {
  font-family: 'TRYGrtsk';
  src: url('/fonts/trygrtsk-semiboldmega-bf6426552430fe5-webfont.woff2') format('woff2'),
  url('/fonts/trygrtsk-semiboldmega-bf6426552430fe5-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* File: src/styles/MainPage.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  padding: 16px;
}

.navbar-right {
  display: flex;
  gap: 16px;
}

.logo {
  display: flex;
  font-size: 7rem;
  font-weight: bold;
  margin-bottom: 24px;
  text-decoration: none;
  font-family: 'TRYGrtsk', sans-serif
}

.logo span { display: inline-block; }
.logo .col1 { color: #4285F4; }
.logo .col2 { color: #DB4437; }
.logo .col3 { color: #F4B400; }
.logo .col4 { color: #0F9D58; }

.search-area {
  width: 100%;
  display: flex;
  justify-content: center;
}
