/* File: src/styles/Navbar.css */
.menuList {
  display: flex;
  gap: 16px;
}

.menuList li a {
  color: #5f6368;
  font-size: 14px;
  text-decoration: none;
  padding: 8px;
}

.menuList li a:hover {
  text-decoration: underline;
}
